@import "../../../css-config/mixins.scss";

.hero-banner {
    margin: 5px;
    padding: 40px 0;
    position: relative;
    // background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    background: rgb(238, 174, 212);
    background: radial-gradient(circle, rgba(238, 174, 212, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border-radius: 0% 100% 0% 100% / 93% 0% 100% 7%;

    @include md {
        height: calc(100vh - 80px);
        margin: 0px;

    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse;
        max-width: calc(100% - 20px);
        margin: 0 auto;
        position: relative;

        @include md {
            justify-content: center;
            flex-direction: row;
            max-width: 1200px;
        }

        .banner-img {
            position: relative;
            // z-index: ;
            width: 200px;
            margin-bottom: 20px;

            @include md {
                width: 500px;
                margin-right: 60px;
                margin-top: 50px;
                margin-bottom: 0;
                // display: none;
                opacity: 0.1;
            }

            @include xxl {
                width: 600px;
                margin-right: 0;
                margin-top: 0;
            }
        }

        .text-content {
            color: #0f0f0f;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include md {
                position: absolute;
                left: 50px;
                top: 50%;
                transform: translateY(-50%);
            }

            @include xxl {
                left: 0;
            }

            h1 {
                font-size: 40px;
                font-weight: 700;
                line-height: 1;
                margin-bottom: 20px;
                text-shadow: 0px 0px 1px #000;

                @include md {
                    font-size: 160px;
                }
            }

            p {
                max-width: 300px;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 20px;

                @include md {
                    max-width: 500px;
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 40px;
                }
            }

            .ctas {
                display: flex;
                justify-content: center;
                gap: 25px;

                .banner-cta {
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 500;
                    width: fit-content;
                    border: 2px solid #fff;
                    padding: 10px 20px;
                    cursor: pointer;

                    &.v2 {
                        background: #fff;
                        color: #000;
                    }

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}